* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Playfair Display', serif;
}

body {
  height: 100vh;
  background: linear-gradient(90deg, rgba(75, 195, 131, 1) 0%, rgba(1, 111, 155, 1) 100%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  border: 3px solid #008080;
  padding: 35px 39px;
  width: 35%;
}

.new-task-container {
  background-color: #f0ffff;
  padding: 31px 21px;
  border-radius: 5px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  display: flex;
}

.new-task-container input{
  flex: 3;
  font-size: 1rem;
  border: 2px solid #d1d3d4;
  border-radius: 5px;
  padding: 12px;
  font-weight: 500;
}